html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,dl,dt,dd,ol,nav ul,nav li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline;}
article, aside, details, figcaption, figure,footer, header, hgroup, menu, nav, section {display: block;}
ol,ul{list-style:none;margin:0px;padding:0px;}
blockquote,q{quotes:none;}
blockquote:before,blockquote:after,q:before,q:after{content:'';content:none;}
table{border-collapse:collapse;border-spacing:0;}
/* 去除a标签的样式 */
a{text-decoration:none;}

/* 让图片按div的大小显示*/
img{max-width:100%;}

/*@font-face {
    font-family: 'lk';
    src: url('../fonts/lk.eot') format('embedded-opentype'),
    url('../fonts/lk.svg') format('svg'),
    url('../fonts/lk.ttf') format('truetype'),
    url('../fonts/lk.woff') format('woff');
}

[class^="icon-"],
[class*=" icon-"] {
    font-family: lk;
    font-style: normal;
}*/

body {
    background-color: #d3f2f7;
}

/* 头部 */
.navbar_ll {
    background-color: #fff;
    margin-bottom: 0;
    padding: 0 20px;
}

/* 导航前标志 */
.navbar-brand {
    width: 200px;
    height: 70px;
    padding: 10px 15px;
    overflow: hidden;
    position: relative;
}
.navbar-brand img {
    position: absolute;
    top: 8px;
    left: 20px;
    background-position: center center;
}
.navbar-brand h1 {
    color: #3a3f4b;
    font-size: 26px;
    font-weight: bold;
    line-height: 50px;
    padding-left: 62px;
}

/* 按键 */
.navbar-header button {
    margin-top: 20px;
}

/* 导航 */
.navbar_ll .navbar-nav a {
    height: 70px;
    line-height: 40px;
}
/* 按下 */
#header .navbar_ll .navbar-nav li.active a {
    background-color: transparent;
    font-weight: bold;
    color: #80c9ff;
}
/* 悬浮 文字向上移 */
#header #nav .nav-left li a:hover {
    margin-top: -10px;
    color: #80c9ff;
}

/* 右边 注册-登录 */
#header #nav .nav-right {
    float: right;
}
#header #nav .nav-right li {
    margin-right: 10px;
    height: 30px;
    margin-top: 15px;
}
#header #nav .nav-right li a {
    display: inline;
    padding: 5px 20px;
    text-align: center;
    border-radius: 20px;
    border: 1px solid #1a8fc2;
}
#header #nav .nav-right li a:hover {
    color: #fff;
    background-color: #80c9ff;
    border: none;
}

/* 轮播图 */
#carousel .item {
    background: no-repeat center center;
    -webkit-background-size: cover;
    background-size: cover;
}

/* 去掉两边按键背景颜色 */
.left{
    text-shadow:none;
}
.carousel-control.right, .carousel-control.left{
    background-image: none;
}
@media screen and (min-width: 800px) {
    #carousel .item {
        height: 410px;
    }
}

/* 关于ta们 */
.context .container {
    padding: 20px 20px;
}
.row {
    margin: 20px 0 50px 0;
}

/* 小标题 */
.about h2 {
    color: #039ae4;
    font-family: '幼圆';
    font-weight: bolder;
    margin-bottom: 10px;
}
/* 正文 */
.about p {
    color: #7e7a83;
    font-family: '幼圆';
    font-weight: bolder;
    line-height: 26px;
    text-indent: 2em;
}
.about p span {
    color: #ff1513;
    font-weight: 600;
}
.about .title {
    color: #0f0f0f;
    font-family: '微软雅黑';
    font-weight: 600;
}
.about ul {
    padding-left: 20px;
    line-height: 26px;
}
.about div {
    margin-bottom: 3px;
    text-align: center;
}
.about img {
    width: 300px;
    /*height: 150px;*/
    margin-left: 2px;
}

/* 尾部 */
.footer {
    width: 100%;
    height: 30px;
    margin-top: 60px;
}
.footer ul li {
    line-height: 35px;
    margin-right: 20px;
    float: right;
}
.footer ul li a {
    display: inline-block;
    height: 35px;
    text-decoration: none;
    font-size: 12px;
    color: #3a3a3a;
}
.footer ul li a:hover {
    text-decoration: underline;
    color: black;
}


