* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

input,button {
    outline: none;
}

.register {
    width: 500px;
    height: 450px;
    margin: 100px auto;
    border: 1px solid #e0e0e0;
    padding: 10px 30px;
}

.title p {
    color: #ff1513;
}

.register  button {
    width: 100%;
    height: 35px;
    color: #fff;
    background-color: #374a80;
    border: none;
    margin-top: 10px;
}

.register  button:hover {
    background-color: #286090;
    color: #fff;
}

